html,
body,
canvas {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: black;
    z-index: 0;
}

#rom-upload-div {
    color: #EEE;
    text-align: center;
    padding-top: 20%;
}
